<div class="desktopView">
    <div id="users" class="over">
        <div class="over-content">
            <h1 style="margin-bottom: 3vh;">All Users</h1>
            <div class="userList">
                {{#each users}}
                    <a class="user" href="./user/{{this.id}}">{{this.name}}
                        <img src="{{this.avatar}}" />
                    </a>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="topBar">
        <h2>Super Awesome Kanban Board</h2>
    </div>
    <div id="bar" class="userFormBar">
        <form class="userForm" action="/user/create" method="POST">
            <input type="text" id="name" name="name" placeholder="Name" required> <br>
            <input type="url" id="avatar" name="avatar" placeholder="Avatar Url" required> <br>
            <input class="button" type="submit" value="Add User">
        </form>
        <a class="arrow" id="irrow" href="javascript:;" onclick="opencloseUsers()">&#10142</a>
    </div>
    <section class="gallery">
        {{#each projects}}
            <a href="./project/{{this.id}}">
                <div class="galleryItem" style="background-image: url({{this.image}});">
                    <div>
                        <h3>{{this.name}}</h3>
                        <form action="./project/{{this.id}}/destroy" method="GET">
                            <input type="submit" value="click to remove" >
                        </form>
                    </div>
                </div>
            </a>
        {{/each}}
        <div class="galleryProject">
            <div class="addProject">
                <h3>Add a project:</h3>
                <form class="addProject" action="/project/create" method="POST">
                    <input type="text" id="name" name="name" placeholder="Project Name" required> <br>
                    <input type="url" id="image" name="image" placeholder="Image Url" required> <br>
                    <input class="button" type="submit" value="Add Project">
                </form>
            </div>
        </div>
    </section>
</div>

<div class= "phoneView hidden">
    <h1>Projects</h1>
    <a href="javascript:;" onclick="showUserForm()">Add User</a>
    <a href="javascript:;" onclick="hideUserForm()"></a>
        <form class="userFormPhone hidden" action="/user/create" method="POST">
            <input type="text" id="name" name="name" placeholder="Name" required> <br>
            <input type="url" id="avatar" name="avatar" placeholder="Avatar Url" required> <br>
            <input type="submit" value="Add User">
        </form>
    <section class="gallery">
        {{#each projects}}
            <a href="./project/{{this.id}}">
                <div class="galleryItem" style="background-image: url({{this.image}});">
                    <h3>{{this.name}}</h3>
                </div>
            </a>
        {{/each}}
        <div class="galleryItem">
            <h3>Add a project:</h3>
            <form class="addProject" action="/project/create" method="POST">
                <input type="text" id="name" name="name" placeholder="Project Name" required> <br>
                <input type="url" id="image" name="image" placeholder="Image Url" required> <br>
                <input type="submit" value="Add Project">
            </form>
        </div>
    </section>
</div>
<script>
    function showUserForm(){
        let element = document.querySelector(".userFormPhone")
        element.classList.remove("hidden")
    }
    function hideUserForm(){
        let element = document.querySelector(".userFormPhone")
        element.classList.add("hidden")
    }
    function opencloseUsers(){
        if (document.getElementById("users").style.width == "25%") {
            document.getElementById("users").style.width = "0"
            let arrow = document.getElementById("irrow")
            arrow.style.transform = "rotate(0deg)"
            arrow.style.marginLeft = "0"
            }

        else {
            document.getElementById("users").style.width = "25%"
            let arrow = document.getElementById("irrow")
            arrow.style.transform = "rotate(180deg)"
            arrow.style.marginLeft = "25vw"
        }
    }
</script>